{% load static %}
<div class="wrapper style1">

    <section id="features" class="container special">
        <header>
            <h2>Missão, visão e valores</h2>
            <p>Até onde chega a sua determinação?</p>
        </header>
        <div class="row">
            {% for c in corretor %}
            <article class="col-4 col-12-mobile special">
                <a href="#" class="image featured"><img src="{% static 'images/pic07.jpg' %}" alt="" /></a>
                <header>
                    <h3><a href="#">Missão</a></h3>
                </header>
                <p>
                    {{ c.missao }}
                </p>
            </article>
            <article class="col-4 col-12-mobile special">
                <a href="#" class="image featured"><img src="{% static 'images/pic08.jpg' %}" alt="" /></a>
                <header>
                    <h3><a href="#">Visão</a></h3>
                </header>
                <p>
                    {{ c.visao }}
                </p>
            </article>
            <article class="col-4 col-12-mobile special">
                <a href="#" class="image featured"><img src="{% static 'images/pic09.jpg' %}" alt="" /></a>
                <header>
                    <h3><a href="#">Valor</a></h3>
                </header>
                <p>
                    {{ c.valores }}
                </p>
            </article>
        {% endfor %}
        </div>
    </section>

</div>