{% load static %}
<!-- Header -->
<div id="header">

    <!-- Inner -->
        <div class="inner">
            <header>
                {% for c in corretor %}
                <h1><a href="{% url 'index' %}" id="logo">{{ c.nome }}</a></h1>
                <hr />
                <p>{{ c.profissao }}</p>
                {% endfor %}
            </header>
            <footer>
                <a href="#banner" class="button circled scrolly">Start</a>
            </footer>
        </div>

    <!-- Nav -->
        <nav id="nav">
            <ul>
                <li><a href="{% url 'index' %}">Início</a></li>
                <li>
                    <a href="#">Menu</a>
                    <ul>
                        <li><a href="#">...</a></li>
                        <li><a href="#">...</a></li>
                        <li><a href="#">...</a></li>
                        <li>
                            <a href="#">And a submenu &hellip;</a>
                            <ul>
                                <li><a href="#">...</a></li>
                                <li><a href="#">...</a></li>
                                <li><a href="#">...</a></li>
                                <li><a href="#">...</a></li>
                            </ul>
                        </li>
                        <li><a href="#">...</a></li>
                    </ul>
                </li>
                <li><a href="#">Left Sidebar</a></li>
                <li><a href="right-sidebar.html">Right Sidebar</a></li>
                <li><a href="no-sidebar.html">No Sidebar</a></li>
            </ul>
        </nav>

</div>