{% load static %}
<div class="wrapper style2">

    <article id="main" class="container special">
        <a href="#" class="image featured"><img src="{% static 'images/pic06.jpg' %}" alt="" /></a>
        
        {% for c in corretor %}
        <header>
            <h2><a href="#">Quem sou eu?</a></h2>
        </header>
        <p>
            {{ c.biografia }}
        </p>

        
        <header> 
            <p>
            
            </p>   
            <h2><a href="#">Personalidade</a></h2>
        </header>
        <p>
            {{ c.personalidade }}
        </p>
        {% endfor %}
        
    </article>

</div>